<!DOCTYPE html>

<html data-ng-app="terrainManagerAJS">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
   
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="css/style.css">

<title>Terrain Manager Login</title>
</head>

<body bgcolor=#D1E0E0>

<!-- LIBS -->
	<script src="assets/js/angular.min.js"></script>
	<script src="assets/js/angular-route.min.js"></script>
	<script src="assets/js/angular-cookies.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular-resource.js"></script>
	
	 <script src="assets/js/dist/Chart.min.js"></script>
  <script src="assets/js/dist/angular-chart.min.js"></script>
	<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
	<!-- APP -->
	<script src="app/config/app.js"></script>
	<script src="app/config/config.js"></script>
	<!-- CONTROLLERS -->
	<script src="app/controllers/navControllers.js"></script>
	<script src="app/controllers/loginControllers.js"></script>
	<script src="app/controllers/userControllers.js"></script>
	<script src="app/controllers/terrainControllers.js"></script>
	<script src="app/controllers/clientTerrainControllers.js"></script>
	<script src="app/controllers/clientControllers.js"></script>
	<script src="app/controllers/historyControllers.js"></script>
	<script src="app/controllers/repartitionControllers.js"></script>
	<script src="app/controllers/terrainTypeControllers.js"></script>
	<!-- SERVICES -->
	<script src="app/services/userService.js"></script>
	<script src="app/services/terrainService.js"></script>
	<script src="app/services/clientService.js"></script>
	<script src="app/services/loginService.js"></script>
	<script src="app/services/historyService.js"></script>
	<script src="app/services/repartitionService.js"></script>
	<script src="app/services/terrainTypeService.js"></script>
	
<table>
<tr bgcolor=#D1D0D0><td width=10%></td><td colspan=2><font size=10 face="Viner Hand ITC">Terrain Manager</font></td><td width=10%></td></tr>

<tr>
	<td width=10% > </td>
	
	
	<td bgcolor="lightgrey" width=55%>
	<fieldset>
		
		
	</fieldset>
	</td>

	<td bgcolor="lightgrey" width=25%><fieldset>

		
	</fieldset></td>
	
	
	<td width=10%> </td>

</tr>
<tr>	
	<td> </td>
	<td bgcolor=white colspan=2>
	<fieldset >
	<legend>Log in</legend>
	<br>

	<div id="mainWrapper">
           
   
    <form data-ng-controller="loginController" data-ng-submit="login()" class="form-horizontal">
        
        <div class="input-group input-sm">
            <label class="input-group-addon" for="username"><i class="fa fa-user"></i></label>
            <input type="text" class="form-control" id="username" data-ng-model="credentials.username" placeholder="Enter Username" required>
        </div>
        <div class="input-group input-sm">
            <label class="input-group-addon" for="password"><i class="fa fa-lock"></i></label> 
            <input type="password" class="form-control" id="password" data-ng-model="credentials.password" placeholder="Enter Password" required>
        </div>
             
        <div class="form-actions">
            <input type="submit"
                class="btn btn-block btn-primary btn-default" value="Log in">
        </div>
       <div> {{message}}</div>
      
    </form>
    
    
</div>
          



	
	</fieldset>

	</td>
	<td width=10%> </td>
</tr>
</table>

</body>
</html>