@CHARSET "UTF-8";

legend{
 display: block;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
    
    font-size: 1.5em;
    
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
body>table, body>table>th,body>table>td {
    border: 0px solid black;
}

body>table{
    width:100%;
}
form { 
    display: inline-block;
    margin-top: 0em;
}
input[type=format] {
   
    padding: 12px 20px;
    margin: 8px 0;
    display:block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}input, select{
   
 	
 	border-radius: 4px;
 	 
}
fieldset,td[bgcolor="lightgrey"]{ 
 	border-radius: 15px;
 	 
}