<div>
	<h2>Client Details</h2>
	<form data-ng-submit="saveClient()">
	<p><label>Name:</label> <input type="text" data-ng-model="client.name" required> </p>
	<p><label>Address:</label> <input type="text" data-ng-model="client.address"> </p>
	<p><label>PNC:</label> <input type="text" data-ng-model="client.pnc"> </p>
	<p><label>ICN:</label> <input type="text" data-ng-model="client.icn"> </p>
	<p><label>Amount:</label> <input type="number" data-ng-model="client.amount"> </p>
	
	<p><label>Type:</label> <select  
									data-ng-model="client.type" 
									data-ng-options="x for x in types" required>
							</select> 
							
	</p>
	<input type="submit" class="btn btn-primary" value="Apply"><br>
	{{message}}
	
	</form>
</div>