<div>
	<h2>Client Details</h2>
	<a class="btn btn-primary" href="#/clientUpdateInfo/{{accId}}">Update</a>
	<p><label>Name:</label> {{client.name}} </p>
	<p><label>ICN:</label> {{client.icn}} </p>
	<p><label>PNC:</label> {{client.pnc}} </p>
	<p><label>Address:</label> {{client.address}} </p>
	
	{{message}}
	
</div>