<div>
	<h2>Client Details</h2>
	<form data-ng-submit="saveClient()">
	<p><label>Name:</label> <input type="text" data-ng-model="client.name" required> </p>
	<p><label>Email:</label> <input type="email" data-ng-model="client.email" required> </p>
	<p><label>Address:</label> <input type="text" data-ng-model="client.address" required> </p>
	<p><label>PNC:</label> <input type="text" data-ng-model="client.pnc" required> </p>
	<p><label>ICN:</label> <input type="text" data-ng-model="client.icn" required> </p>
	<p><label>Amount:</label> <input type="number" data-ng-model="client.amount" required> </p>
	<p><label>Password:</label> <input type="text" data-ng-model="client.password" required> </p>
	<p><label>Username:</label> <input type="text" data-ng-model="client.username" required> </p>
	<p><label>Type:</label> <select  
									data-ng-model="client.type" 
									data-ng-options="x for x in types" required>
							</select> 
							
	</p>
	<input type="submit" class="btn btn-primary" value="Apply"><br>
	{{message}}
	
	</form>
</div>