<div>
	<h2>User Details</h2>
	<a class="btn btn-primary" href="#/userUpdate/{{user.id}}">Update</a>
	<p><label>Firstname:</label> {{user.firstname}} </p>
	<p><label>Surname:</label> {{user.surname}} </p>
	<p><label>Email:</label> {{user.email}} </p>
	<p><label>City:</label> {{user.city}} </p>
	<p><label>Country:</label> {{user.country}} </p>
	<p><label>Address:</label> {{user.address}} </p>
	<p><label>Postcode:</label> {{user.postcode}} </p>
	<p><label>Telephone:</label> {{user.telephone}} </p>
	<p><label>Password:</label> {{user.password}} </p>
	<p><label>Username:</label> {{user.username}} </p>
	<p><label>Salary:</label> {{user.salary}} </p>
	<p><label>Type:</label> {{user.type}} </p>
	{{message}}
	
</div>