<div>
	<h2>Users</h2>

	<div data-ng-if="status == 'loading'">
		<div class="alert alert-info" role="alert">Loading...</div>
	</div>
	<div data-ng-if="status == 'empty'">
		<div class="alert alert-info" role="alert">No users found</div>
	</div>
	<div data-ng-if="status == 'full'">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th></th>
					<th>Telephone</th>
					
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="user in users">
					<td>{{user.firstname}}</td>
					<td>{{user.surname}}</td>
					<td>{{user.telephone}}</td>
					<td><a class="btn btn-primary" href="#/user/{{user.id}}">Details</a></td>
					<td><a class="btn btn-primary" href="#/userUpdate/{{user.id}}">Update</a></td>
					<td><a class="btn btn-primary" href="#/userDelete/{{user.id}}">Delete</a></td>
				</tr>
			</tbody>
		</table>
		{{message}}
		<a class="btn btn-primary" href="#/userGoSave">Insert</a>
	</div>
</div>
