<div>
	<h2>User Details</h2>
	<form data-ng-submit="saveUser()">
	<p><label>Firstname:</label> <input type="text" data-ng-model="user.firstname" required> </p>
	<p><label>Surname:</label> <input type="text" data-ng-model="user.surname" required> </p>
	<p><label>Email:</label> <input type="email" data-ng-model="user.email" required> </p>
	<p><label>City:</label> <input type="text" data-ng-model="user.city" > </p>
	<p><label>Country:</label> <input type="text" data-ng-model="user.country"> </p>
	<p><label>Address:</label> <input type="text" data-ng-model="user.address"> </p>
	<p><label>Postcode:</label> <input type="text" data-ng-model="user.postcode"> </p>
	<p><label>Telephone:</label> <input type="text" data-ng-model="user.telephone"> </p>
	<p><label>Salary:</label> <input type="number" data-ng-model="user.salary"> </p>
	<p><label>Password:</label> <input type="text" data-ng-model="user.password" required> </p>
	<p><label>Username:</label> <input type="text" data-ng-model="user.username" required> </p>
	<p><label>Type:</label> <select  
									data-ng-model="user.type" 
									data-ng-options="x for x in types" required>
							</select> 
							
	</p>
	<input type="submit" class="btn btn-primary" value="Apply"><br>
	{{message}}
	
	</form>
</div>