<div>
	<h2>Histories</h2>

	<div data-ng-if="status == 'loading'">
		<div class="alert alert-info" role="alert">Loading...</div>
	</div>
	<div data-ng-if="status == 'empty'">
		<div class="alert alert-info" role="alert">No histories found</div>
	</div>
	<div data-ng-if="status == 'full'">
		<canvas id="bar" class="chart chart-bar"
		data-chart-data="data" data-chart-labels="labels"
		data-chart-series="series"
		></canvas>
	</div>
	{{message}}
</div>
