<div>
	<p><label>Operation:</label> {{history.operation}} </p>
	<p><label>Date:</label> {{history.date}} </p>
	
	<h2>User Details</h2>
	<a class="btn btn-primary" data-ng-init="showMeU=false" data-ng-click="showMeU = !showMeU">Details</a>
	<div data-ng-if="showMeU==false">
	
		<p><label>First name:</label> {{history.user.firstname}} </p>
		<p><label>Surname:</label> {{history.user.surname}} </p>
		<p><label>Telephone:</label> {{history.user.telephone}} </p>
	</div>
	<div data-ng-if="showMeU">
		<p><label>First name:</label> {{history.user.firstname}} </p>
		<p><label>Surname:</label> {{history.user.surname}} </p>
		<p><label>Telephone:</label> {{history.user.telephone}} </p>
		<p><label>City:</label> {{history.user.city}} </p>
		<p><label>Country:</label> {{history.user.country}} </p>
		<p><label>Address:</label> {{history.user.address}} </p>
		<p><label>Email:</label> {{history.user.email}} </p>
		<p><label>Post code:</label> {{history.user.postcode}} </p>
		<p><label>Type:</label> {{history.user.type}} </p>
		<p><label>Salary:</label> {{history.user.salary}} </p>
		
	</div>
	<h2>Terrain Details</h2>
	<a class="btn btn-primary" data-ng-init="showMe=false" data-ng-click="showMe = !showMe">Details</a>
	<div data-ng-if="showMe==false">
		
		<p><label>Place:</label> {{history.terrain.place}} </p>
		<p><label>Area:</label> {{history.terrain.area}} </p>
		<p><label>Type:</label> {{history.terrain.type}} </p>
	</div>
	<div data-ng-if="showMe">
		
		<p><label>Place:</label> {{history.terrain.place}} </p>
		<p><label>Area:</label> {{history.terrain.area}} </p>
		<p><label>Type:</label> {{history.terrain.type}} </p>
		<p><label>Owner PNC:</label> {{history.terrain.pnc}} </p>
		<p><label>Price:</label> {{history.terrain.price}} </p>
		
		
		
	</div>
	
	
	<h2>Client Details</h2>
	<a class="btn btn-primary" href="#/clientInfo/{{history.client.id}}">Client Information</a>
	<a class="btn btn-primary" href="#/clientAcc/{{history.client.id}}">Client account</a>
	<a class="btn btn-primary" data-ng-init="showMeC=false" data-ng-click="showMeC = !showMeC">Details</a>
	<div data-ng-if="showMeC==false">
	
		<p><label>Name:</label> {{history.client.name}} </p>
		<p><label>PNC:</label> {{history.client.pnc}} </p>
		<p><label>Email:</label> {{history.client.email}} </p>
		<p><label>Creation date</label>{{history.client.creationDate}}</p>
	</div>
	<div data-ng-if="showMeC">
		<p><label>Name:</label> {{history.client.name}} </p>
		<p><label>PNC:</label> {{history.client.pnc}} </p>
		<p><label>Account creation date</label>{{history.client.creationDate}}</p>
		<p><label>Credits:</label> {{history.client.amount}} </p>
		<p><label>Type:</label> {{history.client.type}} </p>
		<p><label>Email:</label> {{history.client.email}} </p>
		<p><label>ICN:</label> {{history.client.icn}} </p>
		<p><label>Address:</label> {{history.client.address}} </p>
	</div>
	{{message}}
	
</div>