<div>
	<h2>Histories</h2>

	<div data-ng-if="status == 'loading'">
		<div class="alert alert-info" role="alert">Loading...</div>
	</div>
	<div data-ng-if="status == 'empty'">
		<div class="alert alert-info" role="alert">No histories found</div>
	</div>
	<div data-ng-if="status == 'full'">
		<div data-ng-if="showMe==false">
		<button data-ng-click="myFunc()">Show chart</button>
		</div>
		<div data-ng-if="showMe">
		<button data-ng-click="myFunc()">Hide chart</button>
		</div>
		<div data-ng-show="showMe">
		<canvas id="bar" class="chart chart-bar"
			data-chart-data="data" data-chart-labels="labels"
			data-chart-series="series"
			></canvas>
		</div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Operation</th>
					<th>Date</th>
					<th>User</th>
					<th>Client</th>
					<th>Terrain</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="history in historys">
					<td>{{history.operation}}</td>
					<td>{{history.date}}</td>
					<td>{{history.user.firstname}}</td>
					<td>{{history.client.name}}</td>
					<td>{{history.terrain.place}}</td>
					<td><a class="btn btn-primary" href="#/history/{{history.id}}">Details</a></td>
					
					<td><a class="btn btn-primary" href="#/historyDelete/{{history.id}}">Delete</a></td>
				</tr>
			</tbody>
		</table>
		
		
	</div>
	{{message}}
</div>
