<!DOCTYPE html>
<html data-ng-app="terrainManagerAJS">
<head lang="en">
<meta charset="UTF-8">
<title>Terrain Manager</title>

<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
	rel="stylesheet">
</head>

<body>
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
		<a class="navbar-brand" href="#/">Home</a>
			<div class="navbar-header" data-ng-controller="TypeUserController as invoice">
				
				<font class="navbar-brand">Show users:</font>
					<select class="navbar-brand" data-ng-model="inType" data-ng-change="go(inType)">
    				  <option data-ng-repeat="c in invoice.types">{{c}}</option>
   					 </select>
   					 <!-- <a class="btn btn-primary" href="#/userType/{{invoice.inCurr}}">Show</a> -->
				
				
			</div>
			
			<div>
			<form data-ng-controller="logoutController" data-ng-submit="logoutUser()">
				<input class="navbar-brand" type="submit" value="Log out"/>
			</form>
			</div>	
		</div>
	</div>
	<br />
	<br />
	<br />
	<br />
	<div class="container">
		<div data-ng-view=""></div>
	</div>

	<!-- LIBS -->
	<script src="assets/js/angular.min.js"></script>
	<script src="assets/js/angular-route.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-resource.js"></script>
	<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
	<!-- APP -->
	<script src="app/config/app.js"></script>
	<script src="app/config/config.js"></script>
	<!-- CONTROLLERS -->
	<script src="app/controllers/navControllers.js"></script>
	<script src="app/controllers/loginControllers.js"></script>
	<script src="app/controllers/userControllers.js"></script>
	<script src="app/controllers/terrainControllers.js"></script>
	<script src="app/controllers/clientControllers.js"></script>
	<!-- SERVICES -->
	<script src="app/services/userService.js"></script>
	<script src="app/services/terrainService.js"></script>
	<script src="app/services/clientService.js"></script>
</body>
</html>