<div>
	<h2>Terrains</h2>

	<div data-ng-if="status == 'loading'">
		<div class="alert alert-info" role="alert">Loading...</div>
	</div>
	<div data-ng-if="status == 'empty'">
		<div class="alert alert-info" role="alert">No terrains found</div>
	</div>
	<div data-ng-if="status == 'full'">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Place</th>
					<th>Area</th>
					<th>Purchase Date</th>
					<th>Client</th>
					
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="repartition in repartitions">
					<td>{{repartition.terrain.place}}</td>
					<td>{{repartition.terrain.area}}</td>
					<td>{{repartition.purchaseDate}}</td>
					<td><a class="btn btn-primary" href="#/clientAcc/{{repartition.client.id}}">{{repartition.client.name}}</a></td>
					<td><a class="btn btn-primary" href="#/terrain/{{repartition.terrain.id}}">Details</a></td>
					
					<td><a class="btn btn-primary" href="#/repartitionUpdate/{{repartition.id}}">Buy</a></td>
					<td><a class="btn btn-primary" href="#/repartitionDelete/{{repartition.id}}">Sell</a></td>
				</tr>
			</tbody>
		</table>
		
	
	</div>
	{{message}}
</div>
