<div>
	<h2>Insert repartition</h2>
	<form data-ng-submit="saveRepartition()">
	<p><label>Client PNC:</label> <input type="number" data-ng-model="clientPNC" required> </p>
	<p><label>Terrain:</label> <input type="number" data-ng-model="terrain.area" required> </p>
	
	<p><label>Type:</label> <select  
									data-ng-model="terrain.type" 
									data-ng-options="x for x in types" required>
							</select> 
							
	</p>
	<input type="submit" class="btn btn-primary" value="Apply"><br>
	{{message}}
	
	</form>
</div>