<div>
	<h2>Client Details</h2>
	<a class="btn btn-primary" href="#/clientUpdateInfo/{{accId}}">Update</a>
	<p><label>Name:</label> {{client.name}} </p>
	<p><label>ICN:</label> {{client.icn}} </p>
	<p><label>PNC:</label> {{client.pnc}} </p>
	<p><label>Address:</label> {{client.address}} </p>
	<p><label>Email:</label> {{client.email}}</p>
	<br>
	<p><label>Terrains:</label> <select  
									data-ng-model="terr" 
									data-ng-options="x.place for x in terrains">
							</select> 
	</p>
	
	<div data-ng-if="terr != null">
	<p><label>Place:</label> {{terr.place}} </p>
	<p><label>Area:</label> {{terr.area}} </p>
	<p><label>Type:</label> {{terr.type}} </p>
	<p><label>Price:</label> {{terr.price}}</p>	
	</div>				
	
	{{message}}
	
</div>