<div>
	<h2>Terrains</h2>

	<div data-ng-if="status == 'loading'">
		<div class="alert alert-info" role="alert">Loading...</div>
	</div>
	<div data-ng-if="status == 'empty'">
		<div class="alert alert-info" role="alert">No terrains found</div>
	</div>
	<div data-ng-if="status == 'full'">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Place</th>
					<th>Area</th>
					<th>Type</th>
					
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="terrain in terrains">
					<td>{{terrain.place}}</td>
					<td>{{terrain.area}}</td>
					<td>{{terrain.type}}</td>
					<td>{{terrain.price}}</td>
					<td><a class="btn btn-primary" href="#/clientTerrain/{{terrain.id}}">Details</a></td>
					
				</tr>
			</tbody>
		</table>
		
		
	</div>
	{{message}}
</div>
