<div>
	<h2>Terrain Details</h2>
	
	<p><label>Place:</label> {{terrain.place}} </p>
	<p><label>Area:</label> {{terrain.area}} </p>
	<p><label>Type:</label> {{terrain.type}} </p>
	<p><label>Price:</label> {{terrain.price}} </p>
	
	{{message}}
</div>