<div>
	<h2>Client Details</h2>
	<a class="btn btn-primary" href="#/clientUpdateAcc/{{client.id}}">Update</a>
	<a class="btn btn-primary" href="#/clientInfo/{{client.infoId}}">ClientInformation</a>
	<p><label>Email:</label> {{client.email}} </p>
	<p><label>Password:</label> {{client.password}} </p>
	<p><label>Username:</label> {{client.username}} </p>
	<p><label>Amount:</label> {{client.amount}} </p>
	<p><label>Type:</label> {{client.type}} </p>
	<p><label>Creation date</label>{{client.creationDate}}</p>
	{{message}}
	
</div>