<div>
	<h2>Clients</h2>

	<div data-ng-if="status == 'loading'">
		<div class="alert alert-info" role="alert">Loading...</div>
	</div>
	<div data-ng-if="status == 'empty'">
		<div class="alert alert-info" role="alert">No clients found</div>
	</div>
	<div data-ng-if="status == 'full'">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>username</th>
					<th>PNC</th>
					<th>Creation date</th>
					
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="client in clients">
					<td>{{client.name}}</td>
					<td>{{client.username}}</td>
					<td>{{client.pnc}}</td>
					<td>{{client.creationDate}}</td>
					<td><a class="btn btn-primary" href="#/clientInfo/{{client.id}}">ClientInformation</a></td>
					<td><a class="btn btn-primary" href="#/clientAcc/{{client.id}}">Details</a></td>
					<td><a class="btn btn-primary" href="#/clientUpdateAcc/{{client.id}}">Update</a></td>
					<td><a class="btn btn-primary" href="#/clientDelete/{{client.id}}">Delete</a></td>
				</tr>
			</tbody>
		</table>
		
	</div>
	{{message}}
	<a class="btn btn-primary" href="#/clientGoSave">Insert</a>
</div>
