<div>
	<h2>Client Details</h2>
	<form data-ng-submit="saveClient()">
	
	<p><label>Creation date:</label> <input type="text" data-ng-model="client.creationDate" disabled> </p>
	<p><label>Email:</label> <input type="email" data-ng-model="client.email" required> </p>
	<p><label>Amount:</label> <input type="number" data-ng-model="client.amount" disabled> </p>
	<p><label>Password:</label> <input type="text" data-ng-model="client.password" required> </p>
	<p><label>User Name:</label> <input type="text" data-ng-model="client.username" required> </p>
	<p><label>Type:</label> <input type="text" data-ng-model="client.type" disabled> </p>
	
							
	
	<input type="submit" class="btn btn-primary" value="Apply"><br>
	{{message}}
	
	</form>
</div>