<div>
	<h2>Terrain Type Details</h2>
	<a class="btn btn-primary" href="#/terrainTypeUpdate/{{terrainType.id}}">Update</a>
	<p><label>Name:</label> {{terrainType.name}} </p>
	<p><label>Price:</label> {{terrainType.price}} </p>
	
	
	{{message}}
</div>