<div>
	<h2>Terrain Details</h2>
	<a class="btn btn-primary" href="#/terrainUpdate/{{terrain.id}}">Update</a>
	
	<a class="btn btn-primary" href="#/repartitionSave/{{terrain.id}}">Buy</a>
	<div data-ng-if="terrain.ownerID != null">
		<a class="btn btn-primary" href="#/clientAcc/{{terrain.ownerID}}">Owner Information</a>
	</div>
	<div data-ng-if="terrain.ownerID == null">
		No owner
	</div>
	<p><label>Place:</label> {{terrain.place}} </p>
	<p><label>Area:</label> {{terrain.area}} </p>
	<p><label>Type:</label> {{terrain.type}} </p>
	<p><label>Price:</label> {{terrain.price}} </p>
	{{message}}
</div>