<div>
	<h2>Terrain Details</h2>
	<form data-ng-submit="saveTerrain()">
	<p><label>Place:</label> <input type="text" data-ng-model="terrain.place" required> </p>
	<p><label>Area:</label> <input type="number" data-ng-model="terrain.area" required> </p>
	
	<p><label>Type:</label> <select  
									data-ng-model="terrain.type" 
									data-ng-options="x for x in types" required>
							</select> 
							
	</p>
	<input type="submit" class="btn btn-primary" value="Apply"><br>
	{{message}}
	
	</form>
</div>