<div>
	<h2>Terrain types</h2>

	<div data-ng-if="status == 'loading'">
		<div class="alert alert-info" role="alert">Loading...</div>
	</div>
	<div data-ng-if="status == 'empty'">
		<div class="alert alert-info" role="alert">No terrain types found</div>
	</div>
	<div data-ng-if="status == 'full'">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Price</th>
					
					
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="terrainType in terrainTypes">
					<td>{{terrainType.name}}</td>
					<td>{{terrainType.price}}</td>
					
					
					
					<td><a class="btn btn-primary" href="#/terrainTypeDetails/{{terrainType.id}}">Details</a></td>
					<td><a class="btn btn-primary" href="#/terrainTypeUpdate/{{terrainType.id}}">Update</a></td>
					<td><a class="btn btn-primary" href="#/terrainTypeDelete/{{terrainType.id}}">Delete</a></td>
				</tr>
			</tbody>
		</table>
		{{message}}
		
	</div>
	<a class="btn btn-primary" href="#/terrainTypeGoSave">Insert</a>
</div>
