<div>
	<h2>Terrains</h2>

	<div data-ng-if="status == 'loading'">
		<div class="alert alert-info" role="alert">Loading...</div>
	</div>
	<div data-ng-if="status == 'empty'">
		<div class="alert alert-info" role="alert">No terrains found</div>
	</div>
	<div data-ng-if="status == 'full'">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Place</th>
					<th>Area</th>
					<th>Type</th>
					
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="terrain in terrains">
					<td>{{terrain.place}}</td>
					<td>{{terrain.area}}</td>
					<td>{{terrain.type}}</td>
					<td>
						<div data-ng-if="terrain.ownerID == null">
							Available
						</div>
						<div data-ng-if="terrain.ownerID != null">
							Owned
						</div>
					</td>
					<td><a class="btn btn-primary" href="#/repartitionSave/{{terrain.id}}">Buy</a></td>
					<td><a class="btn btn-primary" href="#/terrain/{{terrain.id}}">Details</a></td>
					<td><a class="btn btn-primary" href="#/terrainUpdate/{{terrain.id}}">Update</a></td>
					<td><a class="btn btn-primary" href="#/terrainDelete/{{terrain.id}}">Delete</a></td>
				</tr>
			</tbody>
		</table>
		
	</div>
	{{message}}
		<a class="btn btn-primary" href="#/terrainGoSave">Insert</a>
</div>
