<div>
	<h2>Terrain Type Details</h2>
	<form data-ng-submit="saveTerrainType()">
	<p><label>Name:</label> <input type="text" data-ng-model="terrainType.name" required> </p>
	<p><label>Price:</label> <input type="number" data-ng-model="terrainType.price" required> </p>
	
	
							
	
	<input type="submit" class="btn btn-primary" value="Apply"><br>
	{{message}}
	
	</form>
</div>