<div>
	<h2>Welcome to Terrain Manager!</h2>
	
	<h2>Client Details</h2>
	<a class="btn btn-primary" href="#/clientUpdateAcc/{{client.id}}">Update</a>
	<p><label>Name:</label> {{client.name}} </p>
	<p><label>Email:</label> {{client.email}} </p>
	<p><label>Address:</label> {{client.address}} </p>
	<p><label>PNC:</label> {{client.pnc}} </p>
	<p><label>ICN:</label> {{client.icn}} </p>
	<p><label>Password:</label> {{client.password}} </p>
	<p><label>Username:</label> {{client.username}} </p>
	<p><label>Amount:</label> {{client.amount}} </p>
	<p><label>Type:</label> {{client.type}} </p>
	<p><label>Creation date</label>{{client.creationDate}}</p>
	<label>{{message}}</label>
</div>