<div>
	<h2>Terrain Details</h2>
	<a class="btn btn-primary" href="#/terrainUpdate/{{terrain.id}}">Update</a>
	<p><label>Place:</label> {{terrain.place}} </p>
	<p><label>Area:</label> {{terrain.area}} </p>
	<p><label>Type:</label> {{terrain.type}} </p>
	{{message}}
</div>